.card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #1ABC9C;
    opacity: 0;
    transition: all 500ms;
}
.plus{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 72px;
}

 .card:hover .overlay{
    opacity: 0.85;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

/* Modal content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.close:hover {
  color: #000;
}